// Define variables for your color scheme

// For example:
$red: #FF3236;
$blue: #8FBFE0;
$yellow: #FFD866;
$orange: #FF8928;
$green: #5EC496;
$gray: #E8ECF2;
$light-gray: #F4F4F4;

// Personal Color Scheme
$my-blue: #7CE0FF;
$my-lightblue: #CCF3FF;
$purple: #824AB2;
$my-lightpurple: #CCBCFF;
$my-lightorange: #FFAA66;

