// Define variables for your color scheme

// For example:
$red: #FF3236;
$blue: #8FBFE0;
$yellow: #FFD866;
$orange: #FF521E;
$green: #5EC496;
$gray: #E8ECF2;
$light-gray: #F4F4F4;
$black: #000000;

// Personal Color Scheme
$my-blue: #3F5D7F;
$my-lightblue: #CCF3FF;
$purple: #824AB2;
$my-lightpurple: #CCBCFF;
$my-lightorange: #FFC4B2;
$brown: #5b2b2b;

