// Specific CSS for your home-page
.container-home {
  background-image: url('https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/source.gif');
  width:100%;
  color: white;
  min-height: 100vh;
  display: grid;
  text-align: center;
  align-content: center;
}

.container-home h1 {
  letter-spacing: 5px;
}

