.avatar-users {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 3px dotted $purple;
}

.avatar-users:hover {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 3px dotted $purple;
}


.no-pic-users {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 3px dotted $purple;
}

p {
color: #727C7A; ;
}

.card-info:hover {
background-color:$my-lightpurple;
box-shadow: 0 5px $purple;
}
