.container-stock-show {
  border: 1px #FFF9ED;
  border-radius: 10px;
  margin: 10px 15px 0 15px;
  background-color: #FFF9ED;
  box-shadow: 0px 5px 5px 5px #EAD8BB;
}

#name {
  color: white;
  font-style: bold;
  font-size: 36px;
}

#inside-container {
  color: $purple;
  font-size: 30px;
  font-style: bold;
}

.container-stock-show {
  height: 650px;
}

#coin-pic {

}
