<h1>Welcome to stocks index</h1>
<br>
<div class="container">
<% @stocks.each do |stock| %>
<h2>Name: <%= stock.name %></h2>
<h2>Price: <%= stock.price %></h2>
<br>
<% end %>
</div>

<!-- search -->
<!-- cards com acoes disponiveis
dentro do card - nome da acoes, price, variacao do dia. quantidade que o user tem. cor do card muda se usr ja possui essa acao.

clicar no card -> link to show acao

-->
