<%= render 'shared/navbar' %>

<!-- card 1: username
  credits atuais
  credits invested
  total credits
 -->

<!-- card 2: conquistas
infos, quanto ja investiu
etc -->

<!-- se wallet vazio link to stocks market (index de acoes) -->
<!-- cards com link pra wallet (index onde todas acoes pertencem ao current_user) -->

<!-- link pro market -->

<div class="card-info">
  <div>
    <h4>titulo da acao</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, saepe! Eaque error vitae sit perferendis ducimus. Unde aut consequuntur eos impedit, dolor suscipit harum quia! Autem nihil quia in, dolorem!</p>
  </div>
</div>
