<% if current_user == @user %>
  <%= render 'form', user: current_user %>
  <br>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form">
        <h5>Sorry <%= current_user.name %>, you can't edit other user's profile.</h5>
        <br>
      <%= link_to 'Back', :back, class: "btn btn-lg btn-outline-dark btn-block text-uppercase" %>
      </div>
    </div>
  </div>
<% end %>
