<div class="footer">
  <div class="footer-links active" id="active-1">
    <%= link_to stocks_path, class: "button-x" do %>
      <i class="fas fa-store"></i>
    <% end %>
  </div>
  <div class="footer-links" id="active-2">
    <%= link_to dashboard_wallet_path, class: "button-x" do %>
     <i class="fas fa-wallet"></i>
    <% end %>
  </div>
  <div class="footer-links" id="active-3">
    <%= link_to users_path, class: "button-x" do %>
      <i class="fas fa-users"></i>
    <% end %>
  </div>
</div>

