<div class="container-home">
  <div>
    <h1><%= link_to 'Stock Game', dashboard_path, style: "color: white;" %></h1>
  </div>
  <div>
    <br>
    <%= link_to "START", new_user_session_path, class: "snip1562" %>
  </div>
</div>

