<div class="container-home">
  <div class="logo">
    <h1>PlayTrade
      <%#= image_tag("https://image.flaticon.com/icons/png/128/1825/1825576.png", height: "50", width: "50") %>
    </h1>
  </div>
  <div class="content-typed">
    <div><p>Let's</p></div><div class="typed_home"></div>
  </div>

  <div class="content">
    <div class="content__container">
      <ul class="content__container__list">
        <li class="content__container__list__item"><%= link_to "START", dashboard_path, class: "snip1562" %></li>
        <li class="content__container__list__item"><%= link_to "START", dashboard_path, class: "snip1562" %></li>
        <li class="content__container__list__item"><%= link_to "START", dashboard_path, class: "snip1562" %></li>
        <li class="content__container__list__item"><%= link_to "START", dashboard_path, class: "snip1562" %></li>
      </ul>
    </div>
  </div>



  </div>
</div>


