<div class="container-home">
   <div>
    <h1>Stock Game</h1>
  </div>
  <div class="content">
    <div class="content__container">
      <p class="content__container__text">
        Let's
      </p>

      <ul class="content__container__list">
        <li class="content__container__list__item">play!</li>
        <li class="content__container__list__item">profit!</li>
        <li class="content__container__list__item">fun!</li>
        <li class="content__container__list__item">learn!</li>
      </ul>
    </div>
  </div>

  <div>
    <br>
    <%= link_to "START", dashboard_path, class: "snip1562" %>
  </div>
</div>

