.card-info {
  overflow: hidden;
  height: 148px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  align-items: center;
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  color: $purple;
  a {
    color: $purple;
    font-weight: 700;
    text-align: left;
  }
}

.card-info p {
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.8;
  letter-spacing: 1px;
  color: $purple;
  margin-bottom: 3px;
  letter-spacing: 2px;
  font-weight: 600;
}

.card-content {
  display: flex;
  .variation {
    justify-content: center;
  }
}

.card-content h5 {
  font-size: 18px;
  margin-right: 10px;
  letter-spacing: 1px;
  text-align: center;
}



#market {
  text-align: center;

  a {


    font-size: 20px;
    letter-spacing: 3px;
  }
}

#wallet {
  text-align: center;

  a {
    color: #3F5D7F;

    font-size: 20px;
    letter-spacing: 3px;
  }
}
