.navbar-lewagon {
  justify-content: center;
  background: white;
  background-color: $purple;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
 }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  &:hover {
    border-bottom: 2px solid white;
  }
}



.dropdown-menu {
  background-color: $purpleshwhite;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  letter-spacing: 3px;
}

.dropdown-item {
  color: $purple;
  font-weight: bolder;
}

.MenuItem {
  border-bottom: 1px solid $gray;
  margin: 5px 7px 6px;
  padding-top: 1px;
}
